<!DOCTYPE html>
<html>
<body>
<p style="color:blue"> Registered person: </p>
<p>Firstname: {{firstname}} </p>
<p>Lasttname: {{lastname}} </p>
<p>Age: {{age}} </p>

<img src = "cat.gif"/>
</body>
</html>